@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.home .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
}

.home .swiper-pagination-bullet-active {
  height: 15px;
  width: 15px;
  background: white; /* Màu của pagination bullet khi active */
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}